
.wrapper{
  .chat-side{
   color: $font;
   width: 300px;
   float: left;
    .side-header{
    background-color: $side-gb;
    height: 100px;
    display: flex;
    padding: 0 20px;
    line-height: 100px;
      &__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__user-name{
          display: block;
          font-weight: bold;
        }
        &__menu{
          display: flex;
          a{
            margin-left: 0.3rem;
            color: $font;
          }
          a.visited{
            color: $font;
          }
        }
      }
    }
  }
    .groups{
      height: calc(100vh - 120px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      a{
        color: $font;
        text-decoration: none;
        .group{
          margin-bottom: 40px;
          .group__group-name{
            margin-bottom: 5px;
            font-size: 15px;
          }
          .group__latest-message{
            font-size: 11px;
          }
        }
      }
    }
  .chat-main{
    width: calc(100vw - 300px);
    float: left;
    .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      &__left-box{
        margin-top: 35px;
        &__current-group{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        &__member-list{
          display: flex;
          font-size: 12px;
          color: #999999;
          &__member{
            margin-left: 0.3rem;
          }
        }
      }
      a{
        color: $btn-color;
        cursor: pointer;
        .main-header__edit-btn{
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 28px;
          border: solid 1px #38aef0;
          position: absolute;
          right: 40px;
        }
      }
    }
    .messages{
      height: calc(100vh - 283px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      .message__upper-info{
        display: flex;
        margin-bottom: 10px;
        &__talker{
          color: $message-color;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .message__text{
        color: $message-color;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    .form{
      height: 50px;
      padding: 20px 40px;
      background-color: #ddd;
      .new_message{
        display: flex;
        .input-box{
         position: relative;
         width: 100%;
         display: flex;
          &__text{ 
            border-style: none;
            padding: 0 40px 0 10px;
            height: 100%;
            width: 100%;
          }
          &__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            &__file{
              display: none;
            }
          }
        }
        .submit-btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          color: $font;
          cursor: pointer;
          background-color: $btn-color;
          margin-left: 15px;
        }
      }
    }
  }
}
